@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Varela+Round&display=swap');
main {
	padding: 0;
	margin: 0;
	width: 100%;
}

.section {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.s1 {
	background-image: url(../../images/marq.jpg);
}

.section__1 h1 {
	padding: 1.5em 0 1em 0;
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-style: italic;
	font-size: 3.5em;
	width: 100%;
}

.section__1 .collections {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	max-width: 100%;
	padding: 1em;
}

.zone {
	text-align: center;
	font-family: 'Dancing Script', cursive;
	margin: 0.5em 0 0.5em 0;
}

.zone h3 {
	margin: 0.5em;
}

.zone button {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	border-radius: 0.25em;
	color: #111;
	background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-color: #a88734 #9c7e31 #846a29;
    cursor: pointer;
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%) inset;
    border-style: solid;
    border-width: 1px;
    padding: 0.5em;
}

.zone img {
	width: 100%;
}

.section__2 {
	background-color: #000;
	color: #fff;
	border: 1px solid transparent;
}

.section__2 h2 {
	text-align: center;
	padding: 5em 0 3em 0;
	font-family: 'Varela Round', sans-serif;
	letter-spacing: 0.3em;
	font-weight: 100;
}

.section__2 span {
	font-style: italic;
}

.section__2 span a {
	color: #fff;
	text-decoration: none;
}

.section__2 span:hover{
	cursor: pointer;
}

.section__2 .horizontal__slider {
	text-align: center;
	margin: 0 4em 0 4em;
	padding: 1em 1em 0 1em;
	background-color: #fff;
	display: block;
	overflow-x: scroll;
	box-sizing: border-box;
}

.section__2 .horizontal__slider::-webkit-scrollbar {
	display: none;
}

.section__2 .slider__container {
	display: block;
	white-space: nowrap;
}

.section__2 .item {
	display: inline-block;
	height: 20em;
	margin: 0 1em 1em 0;
}

.section__2 .item img {
	max-width: 100%;
	max-height: 100%;
}

.section__2 .divider {
	height: 0.1px;
	margin: 4em 1em 2em 1em;
}

.section__2 .footer {
	text-align: center;
	line-height: 2.8em;
}

.footer p {
	font-size: 0.8em;
}

.footer a {
	color: #fff;
}

.footer .addr {
	font-style: italic;
}

.s2 {
	background-image: url(../../images/pose.jpg);
}

.s3 {
	background-image: url(../../images/marc.jpg);
} 

@media screen and (max-width: 427px) {
	.section__2 h2 {
		padding: 3em 1em 2em 1em;
		letter-spacing: 0.1em;
		font-weight: 100;
	}
}

@media screen and (max-width: 676px) {
	.section__2 .horizontal__slider {
		margin: 0 1em 0 1em;
	}
}

@media screen and (min-width: 676px) {
	.section__2 .divider {
		margin: 3em;
	}
}