@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Playfair+Display&display=swap');
nav {
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 2em 0;
}

.header h3 {
	font-family: 'Playfair Display', serif;
	font-size: 2.5em;
}

.header h3, .header .fa__bars {
	margin: 0;
}

.brand {
	margin-left: auto;
}

.icon {
	display: flex;
	align-items: center;
	margin-left: auto;
	padding-right: 1.5em;
}

.fa__bars {
	font-size: 18px;
}

@media screen and (max-width: 453px) {
	.top__nav {
		display: none;
	}
}

@media screen and (min-width: 454px) {
	.navbar {
		flex-direction: column;
		padding: 1.5em;
	}

	.brand {
		margin-left: 0;
		width: 100%;
		text-align: center;
		margin: 0 0 1em 0;
	}

	.icon {
		display: none;
	}

	.top__nav {
		width: 100%;
		max-width: 80%;
	}

	.top__nav nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 0;
	}

	.top__nav nav h5 {
		margin: 0.5em 0.3em;
		font-family: 'Nunito', serif;
	}

}