nav {
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	height: 7em;
}

.header h3, .header .fa__bars {
	margin: 0;
}

.brand {
	margin-left: auto;
}

.icon {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: 1.5em;
}

.fa__bars {
	font-size: 18px;
}

@media screen and (max-width: 765px) {
	.top__nav {
		border: 1px solid black;
		display: none;
	}
}