@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Playfair+Display&display=swap');
.navbar__items {
	background-color: #000;
	color: #fff;
	height: 7.5em;
	display: flex;
	align-items: center;
	padding: 0 1em 0 0.5em;
	position: sticky;
	top: 0;
}

.navbar__logo {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
	width: 95%;
	text-align: center;
}

.menu__icon {
	margin-left: auto;
}

.nav__menu {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 500px;
	position: absolute;
	top: 7.5em;
	left: -100%;
	opacity: 1;
	transition: all 0.5s ease;
}

.nav__menu.active {
	background: #000;
	color: #fff;
	left: 0;
	opacity: 1;
	transition: all 0.5s ease;
	z-index: 1;
}

li {
	list-style: none;
}

.nav__links {
	color: #818181;
	text-decoration: none;
	padding: 2rem;
	width: 100%;
	display: table;
	text-align: center;
}

.nav__links.selected {
	color: #fff;
}

@media screen and (min-width: 475px) {
	.navbar__items {
		flex-direction: column;
		padding: 0;
		align-items: flex-end;
		justify-content: center;
		align-items: center;
	}

	.menu__icon {
		display: none;
	}

	.nav__menu {
		flex-direction: row;
		position: static;
		left: 0;
		align-items: center;
		justify-content: space-around;
		height: 25%;
		padding: 0 3em 0 3em;
		transition: none;
	}

	.nav__links {
		padding: 0;
	}
}



/*nav {
	display: flex;
	align-items: center;
	background-color: #000;
	color: #fff;
	padding: 2em 0;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 9999;
}

.header h3 {
	font-family: 'Playfair Display', serif;
	font-size: 2em;
}

.header h3, .header .fa__bars {
	margin: 0;
}

.brand {
	margin-left: auto;
}

.icon {
	display: flex;
	align-items: center;
	margin-left: auto;
	padding-right: 1.5em;
}

.fa__bars {
	font-size: 18px;
}

.top__nav nav .active {
	color: #fff;
}

.top__nav nav h5 {
	font-family: 'Nunito', serif;
	color: #818181;
}

.top__nav nav h5:hover {
	color: #fff;
	cursor: pointer;
}
*/
/*@media screen and (max-width: 453px) {
	.top__nav {
		position: absolute;
		top: 6.7em;
		width: 100%;
		display: none; 
	}

	.top__nav nav {
		display: flex; 
		flex-direction: column;
		display: none; 
	}

	.top__nav nav h5 {
		margin: 0;
		padding: 2em 0;
		width: 100%;
		text-align: center;
	}
}

@media screen and (min-width: 454px) {
	.navbar {
		flex-direction: column;
		padding: 1.5em;
	}

	.brand {
		margin-left: 0;
		width: 100%;
		text-align: center;
		margin: 0 0 1em 0;
	}

	.icon {
		display: none;
	}

	.top__nav {
		width: 100%;
		max-width: 80%;
	}

	.top__nav nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
		padding: 0 0;
	}

	.top__nav nav h5 {
		margin: 0.5em 0.3em;
	}

}*/